In [ ]:
# Import the libraries
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [41]:
# Set the seed, load the IRIS dataset
np.random.seed(0)
iris = load_iris()

# First split the data into training and test set by 75/25 split ratio
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.25)

# Instantiate the RandomForestClassifier
rf_classifier = RandomForestClassifier(n_jobs=2, random_state=0)

# Fit the training data
rf_classifier.fit(X_train, y_train)

# Use the test data to predict
y_pred = rf_classifier.predict(X_test)

# Let's create a Pandas DataFrame from the test set and
# append the target codes, target names, predicted codes and 
# predicted names. This will help us view the actual vs predicted
df_test = pd.DataFrame(X_test, columns=iris.feature_names)
df_test['actual_codes'] = y_test
df_test['actual_names'] = pd.Categorical.from_codes(y_test, iris.target_names)
df_test['pred_codes'] = y_pred
df_test['pred_names'] = pd.Categorical.from_codes(y_pred, iris.target_names)

df_test.head(10)

   sepal length (cm)  sepal width (cm)  ...  pred_codes  pred_names
0                5.8               2.8  ...           2   virginica
1                6.0               2.2  ...           1  versicolor
2                5.5               4.2  ...           0      setosa
3                7.3               2.9  ...           2   virginica
4                5.0               3.4  ...           0      setosa
5                6.3               3.3  ...           2   virginica
6                5.0               3.5  ...           0      setosa
7                6.7               3.1  ...           1  versicolor
8                6.8               2.8  ...           1  versicolor
9                6.1               2.8  ...           1  versicolor

[10 rows x 8 columns]

In [43]:
# Now we have the training and predicting completed, we can
# compute the accuracy of the model by passing X_test and y_test
# directly to the classifer.
accuracy = rf_classifier.score(X_test, y_test)
print(accuracy)

0.9736842105263158